{% extends 'base.html.twig' %}

{% block title %} La boutique Française - Cart {% endblock %}

{% block content %}
    <h1> Cart </h1>
    Find all the products you added in your cart
    {% if cart|length > 0 %}
    <hr>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Product</th>
            <th scope="col"> </th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
        {% set total = null %}
        {% for product in cart %}
            <tr>
                <td> <img src="/images/{{ product.product.image }}" alt={{product.product.name}} height="75px"/> </td>
                <th> 
                    {{product.product.name}} </br> 
                    <small> {{product.product.subtitle}} </small>
                </th>
                <td> 
                    <a href="{{ path('decrease', { 'id': product.product.id}) }}"> <img src="/images/dash.svg" alt="Remove one product" /> </a>
                    {{product.quantity }} 
                    <a href="{{ path('add_to_cart', { 'id': product.product.id }) }}"> <img src="/images/plus.svg" alt="Add one product" /> </a>
                </td>
                <td> {{ (product.product.price / 100)|number_format(2, '.', ',')}} €</td>
                <td> {{ ((product.product.price * product.quantity) / 100)|number_format(2, '.', ',')}} €</td>
                <td> <a href="{{ path('remove_one', { 'id': product.product.id}) }}"> <img src="/images/trash.svg" alt="Delete my product" /> </a> </td>
            </tr>
            {% set total = total + (product.product.price * product.quantity) %}
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <b> Numbers of products: </b> {{ cart|length}} </br>
        <b> Total :</b>  {{ ( total / 100)|number_format(2, '.', ',')}} € 
        <a href="{{ path('order') }}" class="btn btn-success btn-block mt-3"> Pay </a>
    </div>
    {% else %}
        <hr>
        <p> <strong> Your cart is empty </strong>
    {% endif %}
{% endblock %}
