{% extends 'base.html.twig' %}

{% block title %}
	My addresses
{% endblock %}

{% block content %}
    <a href="{{ path("app_account_address_add") }}" class="btn btn-info btn-sm float-right"> Add address </a>
	<h1> My addresses </h1>
	This is where you will manage all your delivey addresses <br>
    <a href="{{ path('app_account')}}"> Return </a>
    <hr>
    {% if app.user.addresses|length == 0 %}
        <p class="text-center"> You didn't had addresses to your account, to add one <a href="{{ path('app_account_address_add') }}"> click here </a> <p>
    {% else %}
    <div class="row">
        {% for address in app.user.addresses %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ address.name }}</h5>
                        <p class="card-text">
                            {{ address.address }} <br>
                            {{ address.zipcode}} - {{ address.city }} - {{ address.country}}
                        </p>
                        <a href="{{ path('app_account_address_edit', {'id': address.id}) }}" class="btn btn-primary">Edit</a> 
                        <a href="{{ path('app_account_address_delete', {'id': address.id}) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
       {% endfor %}
    </div>
    {% endif %}
{% endblock %}