{% extends 'base.html.twig' %}

{% block title %}
	My Orders
{% endblock %}

{% block content %}
	<h1> My orders </h1>
    <a href="{{ path('app_account')}}"> Return </a>
    {% if orders|length == 0 %}
        <hr>
        <p class="text-center"> You didn't had orders to your account <p>
    {% else %}
        <table class="table mt-4">
            <thead>
                <tr>
                <th scope="col">Reference</th>
                <th scope="col">When</th>
                <th scope="col">Products</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td> <span class="badge badge-secondary"> {{ order.reference }} </span> </td>
                        <td> {{ order.createdAt|date('d/m/Y') }}</td>
                        <td> {{ order.orderDetails|length }}</td>
                        <td>{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',','.') }} € </td>
                        <td class="text-right"> <a href="{{ path('account_order_show', {'reference' : order.reference}) }}"> Show the order </a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}