{% extends 'base.html.twig' %}

{% block title %}Our products{% endblock %}

{% block content %}
    <h1> Our products </h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="product-item text-center">
                    <img src="images/{{ product.image }}" alt={{product.name}} class="img-fluid"/>
                    <h5> {{ product.name }} </h5>
                    <span class="product-subtitle"> {{ product.subtitle }} </span>
                    <span class="product-price"> {{ product.price}} </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
