{% extends 'base.html.twig' %}

{% block title %}Products list{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-10"> 
                <h3> Our products </h3>
                <div class="row product-container">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">stripeId</th>
                            <th scope="col"> actions </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <th scope="row">{{product.id}}</th>
                                <td>{{product.name}}</td>
                                <td><img src="images/{{ product.image }}" alt={{product.name}} class="img-fluid" style="width: 75px"/></td>
                                <td>{{product.stripeId}}</td>
                                {% if product.stripeId == null %}
                                    <td> <a href="{{ path('app_stripe_add', {'id': product.id}) }}" class="btn btn-primary"> Create stripe </a> </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
{% endblock %}